@import "../../Base/Colour.scss";
@import "../../Base/Global.scss";



/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .section-08 {
        background: #F0F0F4;
        padding: 80px 0 58px 0;

        .c-wrapper {
            .c-item-01 {
                font-family: 'Playfair Display';
                font-weight: 400;
                font-size: 3.125em;
                line-height: 67px;
                color: #015D4F;
                margin-bottom: 6px;
            }

            .c-item-02 {
                width: 247px;
                font-weight: 300;
                font-size: 1em;
                line-height: 28px;
                color: #015D4F;
                margin-bottom: 94px;
            }

            .scroll-star {
                width: 1px;
                height: 540px;
                background: #BD9A5F;
                position: absolute;
                top: -80px;
                right: 0;
                z-index: 111;

                svg {
                    position: absolute;
                    top: 0;
                    left: calc(50% - 8.5px);
                }
            }
        }

        .owl-carousel {
            .c-item {
                width: calc(100% - 20px);
                height: 579px;
                display: flex;
                justify-content: end;
                align-items: end;

                .c-item-01 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 337px;
                    object-fit: cover;
                }

                .c-item-02 {
                    z-index: 1;
                    width: 274px;
                    height: 380px;
                    background: #FFFFFF;
                    padding: 26px 0 0 0;

                    .c-item-02-A {
                        padding-left: 31px;
                        width: 264px; 
                        font-family: 'Playfair Display';
                        font-weight: 400;
                        font-size: 1.9em;
                        line-height: 53px;
                        color: #BD9A5F;

                        span {
                            color: #015D4F;
                        }
                    }

                    .c-item-02-B {
                        padding-left: 31px;
                        margin: 20px 0 0 0;
                        width: 201px;
                        font-weight: 300;
                        font-size: 0.875em;
                        line-height: 18px;
                        color: #80837D;
                    }

                    .c-item-02-C {
                        height: 39px;
                        background: #BD9A5F;
                        font-weight: 500;
                        font-size: 0.8125em;
                        line-height: 17px;
                        letter-spacing: 0.15em;
                        color: #FFFFFF;
                        padding: 0 51px;
                        width: fit-content;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
            }

            .owl-stage-outer {
                padding-left: 20px;
            }

            .owl-nav {
                position: absolute;
                top: -74px;
                left: 20px;

                .owl-prev {
                    margin-right: 23px;
                }
            }
        }
    }

}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
    .section-08 {
        background: #F0F0F4;
        padding: 22px 0 43px 0;

        .c-wrapper {
            .c-item-01 {
                font-family: 'Playfair Display';
                font-weight: 400;
                font-size: 6.1875em;
                line-height: 132px;
                color: #015D4F;
                margin-bottom: 10px;
            }

            .c-item-02 {
                font-weight: 300;
                font-size: 1.375em;
                line-height: 28px;
                color: #015D4F;
                margin-bottom: 67px;
            }

            .scroll-star {
                width: 1px;
                height: 540px;
                background: #BD9A5F;
                position: absolute;
                top: -22px;
                right: 250px;
                z-index: 111;

                svg {
                    position: absolute;
                    top: 0;
                    left: calc(50% - 8.5px);
                }
            }
        }

        .owl-carousel {
            .c-item {
                width: 933px;
                height: 597px;
                display: flex;
                justify-content: end;
                align-items: end;

                .c-item-01 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 856px;
                    height: 565px;
                    object-fit: cover;
                }

                .c-item-02 {
                    z-index: 1;
                    width: 526px;
                    height: 420px;
                    background: #FFFFFF;
                    padding: 69px 60px;

                    .c-item-02-A {
                        width: 400px;
                        font-family: 'Playfair Display';
                        font-weight: 400;
                        font-size: 2.3em;
                        line-height: 53px;
                        color: #BD9A5F;

                        span {
                            color: #015D4F;
                        }
                    }

                    .c-item-02-B {
                        margin: 28px 0 40px 0;
                        width: 400px;
                        font-weight: 300;
                        font-size: 1em;
                        line-height: 19px;
                        color: #80837D;
                    }

                    .c-item-02-C {
                        height: 39px;
                        background: #BD9A5F;
                        font-weight: 500;
                        font-size: 0.8125em;
                        line-height: 17px;
                        letter-spacing: 0.15em;
                        color: #FFFFFF;
                        padding: 0 51px;
                        width: fit-content;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: transform 0.25s;

                        &:hover {
                            transform: scale(1.03);
                        }
                    }
                }
            }

            .owl-stage-outer {
                padding-left: calc(calc-wrapper-space() + 192px);
            }

            .owl-nav {
                position: absolute;
                top: -57px;
                left: calc-wrapper-space();

                .owl-prev {
                    margin-right: 23px;
                }
            }
        }
    }
}
