@import "../../base/Global";
.comp-section-27 {
    padding-bottom: 176px;

    .c-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 96px;


        .c-container-01 {
            width: 1098px;
            display: flex;

            .c-column-01 {
                width: calc(100% - 373px);

                .c-item-01 {
                    z-index: 3;

                    .c-item-01-A {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        align-items: center;
                        margin-bottom: 16px;

                        .c-unit-01 {
                            display: flex;

                            img {
                                width: 100%;
                            }
                        }

                        > :first-child {
                            margin: 0 77px 0 auto;
                        }
                    }

                    .c-item-01-B {
                        display: flex;
                        flex-wrap: wrap;

                        .c-unit-01 {
                            display: flex;

                            img {
                                width: 100%;
                            }
                        }

                        > :first-child {
                            margin-right: 16px;
                        }
                    }
                }

                .c-line-01, .c-line-02, .c-line-03, .c-line-04 {
                    position: absolute;
                }

                .c-line-01 {
                    bottom: 122px;
                    width: 60%;
                    left: 70px;
                    height: 1px;
                    background: #BD9A5F;
                }

                .c-line-02 {
                    bottom: 122px;
                    left: 70px;
                    height: 454px;
                    width: 1px;
                    background: #BD9A5F;
                }

                .c-line-03 {
                    top: 164px;
                    width: 60%;
                    left: 70px;
                    height: 1px;
                    background: #BD9A5F;
                }

                .scroll-star {
                    width: 1px;
                    height: 303px;
                    background: #BD9A5F;
                    position: absolute;
                    right: 20px;
                    top: 273px;
                    z-index: 11;

                    svg {
                        position: absolute;
                        top: 0;
                        left: calc(50% - 8.5px);
                    }
                }
            }

            .c-column-02 {
                width: 325px;
                margin-left: 48px;

                .c-item-01 {
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.125em;
                    line-height: 23px;
                    /* identical to box height */

                    color: #BD9A5F;
                }

                .c-item-02 {
                    margin: 6px 0 12px 0;
                    max-width: 272px;
                    font-family: 'Playfair Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2.5em;
                    line-height: 53px;
                    color: #BD9A5F;
                }

                .c-item-03 {
                    margin-left: 0;
                    max-width: 300px;
                    font-family: 'Playfair Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.25em;
                    line-height: 27px;
                    /* identical to box height */

                    color: #BD9A5F;
                }

                .c-item-04 {
                    margin: 14px 0 16px 0;
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 1.125em;
                    line-height: 23px;
                    color: #80837D;
                }

                .c-item-05 {
                    display: flex;
                    align-items: center,;
                    justify-content: center;
                    width: 211px;
                    height: 39px;
                    margin-left: 0;
                    background: #BD9A5F;
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 0.812em;
                    line-height: 17px;
                    /* identical to box height */
                    text-align: center;
                    letter-spacing: 0.15em;
                    color: #FFFFFF;
                    transition: transform 0.25s;

                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
}

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .comp-section-27 {
        padding-bottom: 66px;

        &.d-none-mobile{
            display:none;
        }
        .c-wrapper {
            width: 100%;

            .c-container-01 {
                width: 100%;
                flex-direction: column;

                .c-column-01 {
                    width: 100%;
                    margin-bottom: 48px;

                    .c-item-01 {
                        overflow: hidden;

                        .c-item-01-A {
                            flex-wrap: nowrap;
                            width: 600px;
                        }

                        .c-item-01-B {
                            flex-wrap: nowrap;
                            width: 700px;
                            left: -100px;
                        }
                    }

                    .c-line-02 {
                        display: none;
                    }

                    .c-line-01 {
                        left: 0;
                    }

                    .c-line-03 {
                        width: 100%;
                        left: 0;
                    }


                    .scroll-star {
                        width: 1px;
                        height: 222px;
                        background: #BD9A5F;
                        position: absolute;
                        right: 39px;
                        top: 100%;
                        z-index: 11;

                        svg {
                            position: absolute;
                            top: 0;
                            left: calc(50% - 8.5px);
                        }
                    }
                }

                .c-column-02 {
                    width: calc(100% - 20px);
                    margin-left: 20px;

                    .c-item-02 {
                        margin-left: 0;
                    }

                    .c-item-03 {
                        margin-left: 0;
                    }

                    .c-item-04 {
                        max-width: 300px;
                    }

                    .c-item-05 {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}